.admin {
    margin-top: 50px;
}

.admin__heading {
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.admin__container {
    width: 400px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
}

.link {
    text-decoration: none;
    color: black;
}